* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.6px;
}

/* 
  |----------------------------------------
  | Default tags
  |----------------------------------------
*/

p {
  /* line-height: 1.5; */
  text-align: justify;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 
  |----------------------------------------
  | Layouts
  |----------------------------------------
*/
body {
  background-color: var(--primary_color_1) !important;
  color: var(--light_color);
}

section {
  padding: 60px 0;
}

/* 
  |----------------------------------------
  | Texts
  |----------------------------------------
*/
.title_underline {
  width: 100px;
  margin: auto;
  height: 5px;
}

/* 
  |----------------------------------------
  | Buttons
  |----------------------------------------
*/
.btn,
.btn-lg,
.btn-sm,
.btn-md {
  transition: var(--transition) !important;
  border: 1px solid transparent !important;
}

/* Only on large screens */
@media (min-width: 730px) {
  .btn_big {
    padding: 1rem 1.5rem !important;
  }
}

/* On Small screen */
@media (max-width: 730px) {
  .submit_btn {
    width: 100%;
  }
}

.btn_secondary {
  background-color: var(--secondary_color) !important;
  color: var(--light_color) !important;
}
.btn_secondary.btn_hover_outline:hover {
  background: var(--primary_color_1) !important;
  color: var(--secondary_color) !important;
  border: 1px solid var(--secondary_color) !important;
}

.btn_primary_4 {
  background-color: var(--primary_color_4) !important;
  color: var(--light_color) !important;
}
.btn_primary_4.btn_hover_outline:hover {
  background: var(--primary_color_1) !important;
  color: var(--light_color) !important;
  border: 1px solid var(--muted_color) !important;
}

/* 
  |----------------------------------------
  | Border
  |----------------------------------------
*/

/* 
|------------------------------------------------
| Overlay
|------------------------------------------------
*/
.overlay-top::before,
.overlay-bottom::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 5;
}

.overlay-top::before {
  top: -4px;
  background: url("../images/overlay/overlay_top.png");
}

.overlay-bottom::after {
  bottom: -4px;
  background: url("../images/overlay/overlay_bottom.png");
}

/* 
|------------------------------------------------
| Utils classes
|------------------------------------------------
*/
/* .box-shadow,
.card-blog,
.work-box,
.service-box,
.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.overlay-mf {
  background-color: var(--primary_color) !important;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.paralax-mf {
  position: relative;
  padding: 8rem 0;
} */
/* 
|------------------------------------------------
| Preloader classes
|------------------------------------------------
*/
/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid var(--primary_color) !important;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
